@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Lato:wght@700&family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  /* font-family: 'Arimo', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
}
body::-webkit-scrollbar {
  width: 0.6em;
  scrollbar-width: 1px;
}

body::-webkit-scrollbar-thumb{
  
  background-color:rgb(46, 44, 44);
  
  border-radius: 20px;
  
}
body::-webkit-scrollbar-{
 height: 210px;

}


/* =========================== NAVBAR CSS ========================= */

.navbar {
  display: flex;
  justify-content: space-around;
  /* box-shadow: 0 0 10px; */
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  height: 56px;
  
}
.start,
.center,
.end {
  display: flex;
  align-items: center;
  /* flex-shrink: 1; */

}
.start {
  justify-content: space-evenly;
}
/* #logo-img {
  padding: 2px 110px;
} */
.center {
  flex: 0 1 600px;
  justify-self: center;
  align-items: center;
  align-self: center;
  align-content: center;
}
.end {
  flex: 0 200px;
  justify-content: flex-end;
}
#logo-img {
  padding: 2px 20px;
  width: 150px;
  height: 60px;
}
.search-inp {
  width: 40vw;
  height: 40px;
  border-radius: 30px 0px 0px 30px;
  border: 1px solid #ccc;
  font-size: 20px;
  color: black;
  padding-left: 0.8rem;
  margin-left: 3rem;
}
.search input:focus {
  outline-color: blue;
}
#search-btn {
  border: 1px solid #ccc;
  height: 40px;
  border-radius: 0 40px 40px 0px;
  padding: 0 10px 0 10px;
  width: 80px;
}
.search {
  display: flex;
}

.search input::-webkit-search-cancel-button {
  position: relative;
  right: 10px;
  font-size: 100px;
  font-weight: 100;
}


#mic-btn,
#profile-btn {
  border: 1px solid gainsboro;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 1rem;
}
#video-btn,
#notification-btn {
  background: transparent;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
#menu-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#video-btn:hover,
#notification-btn:hover,
#mic-btn:hover,
#search-btn:hover,
#menu-btn:hover {
  background-color: gainsboro;
}
.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* ================================ SIDEBAR =============================== */
.side-icon img {
  width: 30px;
  height: 30px;
}
.side-icon a {
  display: flex;
  gap: 2rem;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;

  font-weight: 200;
  align-items: center;
}
.side-icon,
.channels {
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.sidebar,
.bottom-sidebar {
  margin: 2rem 0.5rem 0 1.5rem;
}
.sidebar-container {
  width: 280px;
  height: 100%;
  background-color: white;
  z-index: 1;
  overflow-y: scroll;
}

.side-icon:hover,
.channels:hover,
.active {
  background-color: gainsboro;
  border-radius: 10px;
}
.sidebar hr {
  color: gainsboro;
  opacity: 0.5;
  margin: 0.5rem 0 0.5rem 0;
}
.channels img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-bottom: 0.5rem;
}
/* .bottom-sidebar,.sidebar{
    border-bottom: 2px solid gainsboro;
} */
.bottom-sidebar h3 {
  padding-bottom: 0.5rem;
  font-size: 1.66rem;
  font-weight: 100;
}
.bottom-sidebar a {
  text-decoration: none;
  color: black;
  display: flex;
  gap: 2rem;
  font-weight: 200;
}




.small-sidebar {
  width: 7%;
  overflow-y: scroll;
 
}
.small-sidebar p {
  display: none;
}
.small-sidebar h3 {
  display: none;
}

/* ================================= FILTER TAB==================== */
.filter-container{
    position: fixed;
    top: 55px;
    left: 300px;

    /* border: 12px solid saddlebrown; */
    background-color: white;
    width: calc(100% - 250px);
    height: 50px;
    display: flex;
    /* justify-content: center; */
    align-content: flex-start;
    align-items: center;
    overflow-x:auto ;
    overflow-y: hidden;
    z-index: 100;
}
.large-filter{
  /* margin-left: 0%; */
  left: 10%;
  min-width: 90%;
}
.filter-container::-webkit-scrollbar{
    display: none;
}
.filter-btn{
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    margin: 0 0 0 1rem;
    border-radius: 8px;
    border: none;
    white-space: nowrap;
    /* flex: 0 0 auto; */
}
.filter-btn.active{
    color: #fff;
    background-color: #242424;
}

/* ============================= MAIN CONTAINER=================== */
.main-container{
    width: calc(100% - 300px);
    margin-top:120px;
    top: 0;
    margin-left: 300px;
    /* background-color: aqua; */
    /* height: 100vh; */
    display: grid;
    grid-template-columns: repeat(4,24.5%);
    grid-gap: 20px 5px;
    /* border: 20px solid rebeccapurple; */
    position: absolute;

}
.large-container{
  margin-left: 10%;
  min-width: 90%;

}
.large-container .video{
  width: 100%;
}
.video{
    min-height: 250px;
    height: auto;
    width: 100%;
    height: 100%;
  
    
}
.thumbnail{
    width: 100%;
    height: 150px;

    /* object-fit: cover; */
}
.content{
    display: flex;
    justify-content: space-between;
   
    /* gap: 1rem; */
    padding: 10px;
}
.discription{
    padding: 0 0.5rem;
}
.content-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.title{
    width: 100%;
    height: 40px;
    overflow: hidden;
}
.channel-name{
    font-size: 14px;
    margin: 2px 0;
    color: #979797;
}
